* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
P a {
  text-decoration: none;
  color: inherit;
}
.carusel {
  height: 500px;
}
.wrapper {
  display: flex;
}
.sarlavha1{
color: greenyellow;
text-shadow: 1px  1px 8px black;
} 
.sarlavha{
  background: linear-gradient(135.00deg, rgb(81, 227, 8),rgb(33, 255, 81));
  -webkit-background-clip:
  text;
  -webkit-text-fill-color:
  transparent;
  background-clip:
  text;

 
  font-family: OpenSans;
  font-size: 36px;
  font-weight: 700;
  line-height: -1px;
  letter-spacing: -1px;
  text-align: left;
}
.otish{
  width: 700px;
}

.sidebar {
  width: 20%;
  height: 1002;
  background-image: linear-gradient(to right, black, green);
}
.sidebar-menu {
  margin: 0 auto;
}
.sidebar-card svg {
  margin-left: 30px;
  border-radius: 8px;

  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.07),
    0px 4px 6px -1px rgba(0, 0, 0, 0.12);
  background: rgb(255, 255, 255);
}
.text{
  margin-top: 10px;
}
.text-home {
  font-family: serif;
  color: red;
  font-weight: bold;
  margin-top: 12px;
  text-shadow:-2px -2px 10px red, 2px 2px 10px red;
}
.text-kurs {
  font-family: serif;
  color: red;
  font-weight: bold;
  margin-top: 12px;
  text-shadow:-2px -2px 10px red, 2px 2px 10px red;

}
.text-taecher{
  font-family: serif;
  color: red;
  font-weight: bold;
  margin-top: 12px;
  text-shadow:-2px -2px 10px red, 2px 2px 10px red;

}
.text-res {
  font-family: serif;
  color: red;
  font-weight: bold;
  margin-top: 12px;
  text-shadow:-2px -2px 10px red, 2px 2px 10px red;

}
















.sidebar-card {
  box-shadow:-4px -4px 10px rgb(17, 14, 59), 4px 4px 10px rgb(74, 76, 207);

  margin-bottom: 100px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 30px 20px;
  box-shadow: 0px 20px 27px 0px rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
  opacity: 0.5;
  transition: 1s;
}
.sidebar-card:hover {
transform: scale(1.1);
cursor: pointer;
box-shadow: 1px 1px 10px pink;
}
.mein {
  width: 80%;
  height: 100vh;
 
}

/* NABRDBR---------------------------------------------------------------- */
.a{
    text-decoration: none;
    color: #fff;
}
.navbar {
  width: 100%;
  height: 80px;
background-image: linear-gradient(green,black);
}

.navbar-left {
  color: rgb(254, 254, 254);
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 700;
  line-height: -1px;
  letter-spacing: -0.44px;
  text-align: left;
}

.navbar-right {
  display: flex;
  /* align-items: center; */
}

input {
  border: 0px solid rgb(210, 214, 218);
}

.input-box {
  border: 1px solid rgb(210, 214, 218);
  border-radius: 8px;

  background: rgb(255, 255, 255);
  margin-right: 16px;

  display: flex;
  width: 197px;
  height: 40px;
}

/* svg {
    margin-top: 13px;
} */

.sig-in {
  display: flex;
  gap: 17px;
  font-size: 20px;
  margin-top: 10px;
}

.sig-inhref {
  text-decoration: none;
  color: rgb(103, 116, 142);
  font-family: OpenSans;
  font-size: 15px;
  font-weight: 600;
  line-height: -1px;
  letter-spacing: -0.39px;

  padding-bottom: 9px;
  text-align: center;
}

/* header-
---------------------------------------------------- */
.row {
  gap: 24px;
}

.col {
  width: 262px;
  height: 82px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 20px 27px 0px rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
}

.card-text {
  color: rgb(103, 116, 142);
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 600;
  line-height: -1px;
  letter-spacing: -0.39px;
  text-align: left;
  padding-left: 16px;
  margin-top: 16px;
}

.card-number {
  color: rgb(37, 47, 64);
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 700;
  line-height: -1px;
  letter-spacing: -0.55px;
  text-align: left;
  padding-left: 16px;
}

.card-foiz {
  color: rgb(130, 214, 22);
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 700;
  line-height: -1px;
  letter-spacing: -0.39px;
  text-align: left;
}

/* ---------------------------------------------------------------------------------------------------------------------- */
.one-card-left {
  display: flex;
  border-radius: 16px;
  width: 644px;
  height: 253px;
  margin-top: 30px;

  box-shadow: 0px 20px 27px 0px rgba(0, 0, 0, 0.05);
}

.card-left {
  margin-left: 21px;
  margin-top: 10px;
}

.card-two-text {
  color: rgb(103, 116, 142);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.44px;
  text-align: left;
}

.card-two-title {
  color: rgb(37, 47, 64);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: -0.55px;
  text-align: left;
}

.card-two-talk {
  color: rgb(103, 116, 142);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.44px;
  text-align: left;
}

.card-two-sentance {
  color: rgb(103, 116, 142);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: -0.39px;
  text-align: left;
  padding-top: 23px;
}

.card-two-image {
  margin-left: 110px;
  margin-top: 14px;
  margin-right: 14px;
}

/* ----------------------------------- */
.row-card-one {
  display: flex;
}

.card-two-border {
  border-radius: 16px;
  width: 520px;
  height: 253px;

  box-shadow: 0px 20px 27px 0px rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
}

.one-card-raight {
  padding-left: 30px;
  margin-top: 16px;
}
/* ---------------------------------------------------------------------------- */
.card-two-border {
  background-image: url(photo_2024-04-20_12-49-38.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 70px;
}

.card-two-border-text {
  /* padding-top: px;
    margin-left: 300px; */
  color: rgb(178, 94, 94);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: -0.39px;
  text-align: left;
}

.card-two-border-title {
  color: rgb(255, 255, 255);
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 700;
  line-height: -1px;
  letter-spacing: -0.55px;
  text-align: left;
  padding-top: 50px;
}

.card-two-border-talk {
  color: rgb(255, 255, 255);
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.44px;
  text-align: left;
}

/* --------------------------------- */
.row-card-two {
  margin-top: 24px;
}
.two-card {
  border-radius: 16px;
  border: 1px solid red;
  box-shadow: 0px 20px 27px 0px rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
  width: 454px;
  height: 445px;
}

.two-card-image {
  width: 422px;
  height: 221px;
  margin: 16px;
}

.two-card-text {
  color: rgb(37, 47, 64);
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 700;
  line-height: -1px;
  letter-spacing: -0.44px;
  text-align: left;
  margin-top: 16px;
  margin-left: 23px;
}

.two-card-number {
  color: rgb(103, 116, 142);
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.39px;
  text-align: left;
  margin-left: 23px;
}

.two-card-number-text {
  color: rgb(37, 47, 64);
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: -0.39px;
  text-align: left;
}
.orqa-fon {
  height: 620px;
  background-image: url(./img/oquv\ kurslar.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* mein-card */
.m-row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  justify-content: center;
  overflow: auto;
}
.mein-card img{
  width: 100px;
  height: 100px;
  margin-left: 60px;
  border-radius: 20px;

}
.mein-card{
  width: 300px;
 
  padding: 20px;
  color: #fff;
  border-radius: 20px;
background-image: linear-gradient( to right,green,black);
}
.mein-name{
  color: #fff;
padding-top: 10px;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
}
.mein-text{
  color: #fff;
padding-top: 8px;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
}
.teacher img{
width: 40px;
height: 40px;
border-radius: 50%;

}

/*  */

.clock-container {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
  text-align: center;
  margin-right: 30px;
}

#clock {
  font-size: 18px;
  font-weight: bold;
  color: green;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}
.loader::before,
.loader::after {    
  content:"";
  grid-area: 1/1;
  --c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
  background: 
    var(--c) 50%  0, 
    var(--c) 50%  100%, 
    var(--c) 100% 50%, 
    var(--c) 0    50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}
.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear
}

@keyframes l12 { 
  100%{transform: rotate(.5turn)}
}
